@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-card-secondary: var(--card-secondary);
	--color-subtle: var(--subtle);
	--color-projections-projected: var(--projections-projected);
	--color-projections-actual: var(--projections-actual);
	--color-revenue-current: var(--revenue-current);
	--color-revenue-previous: var(--revenue-previous);
	--color-location-map-base: var(--location-map-base);
	--color-location-map-hover: var(--location-map-hover);
	--color-location-marker: var(--location-marker);
	--color-location-progress: var(--location-progress);
	--color-secondary: var(--secondary);
	--color-overlay: var(--overlay);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

:root {
	--radius: 0.5rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.2 0 0);
	--card: #F7F9FB;
	--card-foreground: oklch(0.2 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.2 0 0);
	--primary: oklch(0.2 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary-foreground: oklch(0.2 0 0);
	--muted: oklch(0.96 0 0);
	--muted-foreground: oklch(0.5 0 0);
	--accent: oklch(0.96 0 0);
	--accent-foreground: oklch(0.2 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.9 0 0);
	--input: oklch(0.9 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: #1c1c1c;
	--chart-2: #a8c5da;
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(1 0 0);
	--sidebar-foreground: oklch(0.2 0 0);
	--sidebar-primary: oklch(0.2 0 0);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: #1c1c1c0d;
	--sidebar-accent-foreground: oklch(0.2 0 0);
	--sidebar-border: oklch(0.9 0 0);
	--sidebar-ring: oklch(0.708 0 0);
	--subtle: oklch(0.2264 0 0 / 20%);
	--secondary: oklch(0.2264 0 0 / 40%);
	--overlay: oklch(0 0 0 / 50%);
	--card-secondary: #e3f5ff;
	--projections-projected: #cfdeea;
	--projections-actual: #a8c5da;
	--revenue-current: #1c1c1c;
	--revenue-previous: #a8c5da;
	--location-map-base: #d6e4f0;
	--location-map-hover: #a8c5da;
	--location-marker: #1c1c1c;
	--location-progress: #a8c5da;
}

.dark {
	--background: #1c1c1c;
	--foreground: oklch(0.985 0 0);
	--card: #282828;
	--card-foreground: oklch(0.985 0 0);
	--popover: #ffffff0d;
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.985 0 0 / 40%);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.985 0 0 / 10%);
	--muted-foreground: oklch(0.708 0 0);
	--accent: #ffffff1a;
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: #ffffff33;
	--input: #ffffff33;
	--ring: oklch(0.556 0 0);
	--chart-1: #c6c7f8;
	--chart-2: #a8c5da;
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: #1c1c1c;
	--sidebar-foreground: #ffffff;
	--sidebar-primary: #c6c7f8;
	--sidebar-primary-foreground: oklch(0.205 0 0);
	--sidebar-accent: #ffffff1a;
	--sidebar-accent-foreground: #ffffff;
	--sidebar-border: #ffffff33;
	--sidebar-ring: oklch(0.556 0 0);
	--sidebar-active-indicator: #c6c7f8;
	--subtle: oklch(0.985 0 0 / 20%);
	--secondary: oklch(0.985 0 0 / 40%);
	--overlay: oklch(0 0 0 / 50%);
	--card-secondary: #e3f5ff;
	--projections-projected: #a8c5da80;
	--projections-actual: #a8c5da;
	--revenue-current: #c6c7f8;
	--revenue-previous: #a8c5da;
	--location-map-base: #ffffff1a;
	--location-map-hover: #a8c5da;
	--location-marker: #c6c7f8;
	--location-progress: #a8c5da;
	--radius: 0.5rem;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}

	/* Custom scrollbar styles */
	::-webkit-scrollbar {
		width: 4px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: var(--subtle);
		border-radius: 2px;
	}

	::-webkit-scrollbar-thumb:hover {
		background: var(--muted-foreground);
	}
}
table tr {
	border-radius: 10px;
}
